html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}

.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
}

.navbar-inverse {
  background-color: #353d4f
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #000000
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #ffffff
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #000000
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: #ffffff
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #ffffff
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #000000
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  color: #000000;
  background-color: #ffffff
}

.tbl-leaves, .tbl-employees, .emp_table {
    border: 0;
}

.tbl-leaves th, .tbl-leaves td,
.tbl-employees th, .tbl-employees td,
.emp_table th, .emp_table td {
    padding: 10px 25px;
}

button {
    border: 0;
    border-radius: 0;
    background-color: #b22;
    color: #fff;
    padding: 7px 15px;
    width: 200px;
    font-size: 12px;
}

select {
    border-radius: 0;
    padding: 5px;
    margin-right: 5px;
}

#leave_date {
    border-radius: 0;
    border: 1px solid #000;
    padding: 3px;
    margin-right: 5px;
}

.input_rate {
    width: 75px;
    height: 25px;
    border-radius: 0;
    border: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
    display: none;
}

input[type="radio"], label {
    margin-right: 5px;
}